/* ROOT */
:root {
    --border-size: 2px;
    --red: #CD3E2B;
    --grey: #1F1F1F;
    --lightgrey: #BEBCBB;
    --lightergrey: #D9DADC;
    --blue: #161C3B;
    --lightblue: #00439C;
    --lighterblue: #2D64E6;
    
}

/* GENERICS */

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    padding-top: 106px;
}

/* UTILITIES */

._bg-grey {
    background-color: var(--grey);
}

._bg-lightgrey {
    background-color: var(--lightgrey);
}

._bg-lightergrey {
    background-color: var(--lightergrey);
}

._bg-blue {
    background-color: var(--blue);
}

._bg-lightblue {
    background-color: var(--lightblue);
}

._bg-lighterblue {
    background-color: var(--lighterblue);
}

._bg-red {
    background-color: var(--red);
}

._bg-white {
    background-color: #FFF;
}

._bg-black {
    background-color: #000;
}


._h-500 {
    height: 500px;
}

._h-200 {
    height: 200px;
}

/* HEADER */

header {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 2;
}

#header-top {
    background-color: #000;
    height: 30px;
}

#header-top img {
    padding: 8px;
    text-align: end;
}

._dropdown-menu {
    width: 30rem;
}

#search img {
    width: 2rem;
}

div#search > * {
    padding: 8px;
}

/* JUMBOTRON */
#jumbotron {
    height: 600px;
    background-image: url(../img/jumbo-bg.png);
}

#jumbotron-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

[id^="jumbotron"] {
    background-size: cover;
    background-position: center;
}

[id^="jumbotron"] img {
    width: 60%;
}

/* DECK */

#deck img {
    border-radius: 20px;
}

#deck > * [class^="col"]:hover {
    transform: translateY(-25%);
}


/* CONSOLE PS5 */

#thumbnails img{
    max-width: 50%;
}

#thumbnails > * {
    opacity: 0.6;
}

#thumbnails > *:hover {
    border-bottom: 2px solid #2D64E6;
    opacity: 1;
}

/* FOOTER */

footer .language img {
    height: 1rem;
}

footer .sie img {
    height: 3rem;
}

/* BUTTONS */

._btn {
    padding: 5px 10px;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    max-width: fit-content;
    border-radius: 50px;
}

._btn._btn-border::before {
    content: "";
    position:absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    border-radius: 50px;
    transition: top, bottom, left, right, 0.1s ease-in-out;
}

._btn._bg-red._btn-border::before {
    border: 1px solid var(--red);
}

._btn._bg-lighterblue._btn-border::before {
    border: 1px solid var(--lighterblue);
}

._btn._bg-lightergrey._btn-border::before {
    border: 1px solid var(--lightergrey);
}

._btn._bg-white._btn-border::before {
    border: 1px solid #FFF;
}


._btn._btn-border:hover::before {
    top: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    .ps-description {
        max-width: 50%;
    }

    .logo-split {
        max-width: 80%;
    }
}

@media screen and (min-width: 992px) {
    #playstation-plus {
        min-height: 400px;
    }
    
    #playstation-plus figure img {
        min-height: 400px;
    }
}

