/* GENERICS */

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
/* UTILITIES */

._bg-grey {
    background-color: #1F1F1F;
}

._bg-lightgrey {
    background-color: #BEBCBB;
}

._bg-blue {
    background-color: #161C3B;
}

._bg-lightblue {
    background-color: #00439C;
}

._bg-lighterblue {
    background-color: #2D64E6;
}

._bg-red {
    background-color: #CD3E2B;
}

._bg-white {
    background-color: #FFF;
}

._h-500 {
    height: 500px;
}

._h-200 {
    height: 200px;
}

/* HEADER */

#header-top {
    background-color: #000;
    height: 30px;
}

#header-top img {
    padding: 8px;
    text-align: end;
}

._dropdown-menu {
    width: 30rem;
}

#search img {
    width: 2rem;
}

div#search > * {
    padding: 8px;
}

/* JUMBOTRON */
#jumbotron {
    height: 600px;
    background-image: url(/img/jumbo-bg.png);
}

#jumbotron-2 {
    background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
}

[id^="jumbotron"] {
    background-size: cover;
    background-position: center;
}

[id^="jumbotron"] img {
    width: 60%;
}

/* CONSOLE PS5 */

#thumbnails img{
    max-width: 50%;
}

#thumbnails div:first-child {
    border-bottom: 2px solid #2D64E6;
}

/* FOOTER */

footer .language img {
    height: 1rem;
}

footer .sie img {
    height: 3rem;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    .ps-description {
        max-width: 50%;
    }

    .logo-split {
        max-width: 80%;
    }
}




@media screen and (min-width: 992px) {
    #playstation-plus {
        min-height: 400px;
    }
    
    #playstation-plus figure img {
        min-height: 400px;
    }
}