/* GENERICS */

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* UTILITIES */

._bg-grey {
    background-color: #1F1F1F;
}

._bg-lightgrey {
    background-color: #BEBCBB;
}

._bg-blue {
    background-color: #161C3B;
}

._bg-lightblue {
    background-color: #00439C;
}

._h-500 {
    height: 500px;
}

._h-200 {
    height: 200px;
}

/* JUMBOTRON */

#jumbotron {
    background-image: url(/img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

#jumbotron-2 {
    background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
}

[id^="jumbotron"] img {
    width: 60%;
}

/* CONSOLE PS5 */

#thumbneils img{
    max-width: 50%;
}

/* FOOTER */

footer .language img,
footer .sie img {
    height: 1rem;
}
